* {
  font-family: "Roboto", sans-serif;
}
.hero-bg {
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("banner-image.png");
  background-size: cover;
  background-position: center;
}
